/* Color classes */
.color-white {
  color: #fff;
}
.color-hp-blue {
  color: #0096d6;
}
.color-purple {
  color: #6b3a97;
}
.color-dark-gray {
  color: #87898b;
}
.color-darker-gray {
  color: #535455;
}
.color-medium-gray {
  color: #b9b8bb;
}
.background-white {
  background: #fff;
}
.background-hp-blue {
  background: #0096d6;
}
.background-purple {
  background: #6b3a97;
}
.background-dark-gray {
  background: #87898b;
}
.background-darker-gray {
  background: #535455;
}
.background-medium-gray {
  background: #b9b8bb;
}
.background-light-gray {
  background: #e5e8e8;
}
/* fonts */
@font-face {
  font-family: "HP Simplified";
  src: url("/resources/hp-simplified-lt.ttf");
}
@@font-face {
  font-family: "HP Simplified";
  src: url("/resources/hp-simplified-bold.ttf");
  font-weight: bold;
}
/* styles */
body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
  font-family: "HP Simplified";
  line-height: 1.5;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 0 0 0;
  z-index: 1;
}

#header-container {
  display: block;
  max-width: 800px;
  margin: auto;
  padding: 10px 0 15px 0;
  height: 25px;
  line-height: 25px;
}
#title {
  display: flex;
  float: left;
  margin-left: 10px;
  margin-bottom: 50px
}
#title-link {
  text-decoration: none;
}
#title-logo {
  float: left;
  height: 30px;
  width: 30px;
}
#title-text {
  display: inline-block;
  float: left;
  font-size: 18px;
  padding-top: 4px;
  padding-left: 5px;
}
#subtitle {
  float: right;
  margin-right: 10px;
  margin-top: 3px;
}
#subtitle-logo {
  width: 100px;
}
#onedrive-subtitle {
  float: right;
  margin-right: 120px;
  margin-top: -3px;
}
#onedrive-subtitle-log {
  position: absolute;
  width: 130px;
  height: auto;
  /*width: 80px;
  height: auto;*/
}
#main {
  display: block;
  position: relative;
  top: 50px;
  width: 100%;
  max-width: 800px;
  margin: auto;
  z-index: 0;
}
#files-table {
  display: block;
  float: left;
  width: 100%;
  border-collapse: collapse;
}
#files-table-body {
  width: 500px;
}
#files-table tr {
  margin-left: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 800px;
}
#files-table td {
  font-size: 18px;
  transition-duration: 0.10s;
  text-decoration: none;
  text-align: left;
  margin: 2px 0 0 10px;
  vertical-align: middle;
  line-height: 50px;
  padding-left: 50px;
  width: 800px;
  max-width: 800px;

  border-bottom: 1px solid #b9b8bb;

  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 35px;
}
#files-table td:hover {
	color: #0096d6;
  cursor: pointer;
}
#files-table td:active {
  transform: translateY(2px);
}
.popup {
  position: fixed;
  top: 30%;
  left: 28.6%;
  visibility: hidden;
  width: 51.4%;
  max-width: 600px;
  border-top: 5px solid #0096d6;
  border-bottom: 2px solid #535455;
  border-radius: 2px;
  padding: 80px 0 80px 0;
  z-index: 2;
}
.popup-text {
  position: absolute;
  top: 5px;
  left: 5px;
}
.show-popup {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s
}
#button-print {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 0 10px 0;
  width: 140px;
  border-radius: 2px;
  text-align: center;
  z-index: 3;
  cursor: pointer;
}
#button-cancel {
  position: absolute;
  bottom: 0;
  right: 140px;
  padding: 10px 0 10px 0;
  width: 140px;
  border-radius: 2px;
  text-align: center;
  z-index: 3;
  cursor: pointer;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 4;
  left: 50%;
  bottom: 30px;
}
.show-toast {
  visibility: visible;
  -webkit-animation: toast-fadein 0.5s, toast-fadeout 0.5s 2.5s;
  animation: toast-fadein 0.5s, toast-fadeout 0.5s 2.5s;
}
@-webkit-keyframes toast-fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes toast-fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes toast-fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes toast-fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
#apps-drawer {
  position: absolute;
  top: 100px;
  display: flex;
  width: 100%;
  max-width: 800px;
}
.app {
  border-radius: 3px;
  border: none;
  font-size: 20px;
  padding: 10px 15px;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  line-height: 50px;
}
.app a {
  text-decoration: none;
  padding: 20px 40px 20px 40px;
}
.app:active {
  transform: translateY(2px);
}
#path {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
}
.path-entry {
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}
.loader {
  position: fixed;
  top: 30%;
  left: 45%;
  visibility: hidden;
  border: 7px solid #535455;
  border-top: 7px solid #0096d6;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  z-index: 5;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}
.show-loader {
  visibility: visible;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
#app-dropbox {
  background-image: url("https://cfl.dropboxstatic.com/static/images/brand/logotype_white-vflRG5Zd8.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120px;
  margin: auto;
  padding-left: 100px;
}
#app-onedrive {
  background-image: url("/resources/OneDrive_rgb_Wht.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  margin: auto;
  padding-left: 100px;
}
